body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
    background-color: #ffffff; /* Fundo branco para o container do jogo */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

button {
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff; /* Azul */
}

button:hover {
    background-color: #0056b3;
}

.hide {
    display: none;
}

#opcoes {
    margin-top: 20px;
}

.option {
    display: block;
    margin: 10px 0;
    background-color: #007bff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #0056b3;
}

.feedback {
    font-size: 18px;
    margin-top: 10px;
}

.correto {
    color: green;
    font-weight: bold;
}

.incorreto {
    color: red;
    font-weight: bold;
}

#tempo {
    margin-top: 20px;
}
